{% block footer %}
    <div class="row">
    <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Billetterie du Louvre,</div>
        <p>Module de reservation en ligne crée par Hakim Louahem pour le musée du Louvre.</p>
        
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom" align="center">
        <h6 class="heading7">Plan du site</h6>
        
          <li><a href="#"> Accueil</a></li>
          <li><a href="#"> Réservation </a></li>
       
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom" align="right">
          <h6 class="heading7">Liens Utiles</h6>
           <li><a href="http://www.louvre.fr/" target="_blank"> Musée du Louvre </a></li>
          
        
      </div>
    </div>
  </div>

    </div>
{% endblock %}